[submodule "vendor/sbitx"]
	path = vendor/sbitx
	url = https://github.com/afarhan/zbitxv2.git
[submodule "vendor/pi-gen"]
	path = vendor/pi-gen
	url = https://github.com/RPi-Distro/pi-gen.git
	branch = bookworm-arm64
