[Desktop Entry]
Type=Application
Name=sBitx
Comment=zBitx SDR amateur radio transceiver
Exec=x-terminal-emulator -e /usr/local/bin/sbitx-launch
Path=/home/pi/sbitx
Icon=/home/pi/sbitx/sbitx_icon.png
Terminal=false
Categories=HamRadio;
X-GNOME-Autostart-enabled=true
